:root {
  /* Colores */
  --color-primario: #784d3c;
  --color-claro: #fff;
  --color-neutral: #efefef;
  --color-oscuro: #000;

  /* Fuentes  */
  --fuente-primaria: 'Open Sans', sans-serif;
  --fuente-secundaria: 'PT Sans', sans-serif;
}

/** Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: var(--fuente-primaria);
  line-height: 2;
}

a{ 
  color: inherit;
  text-decoration: none; 
}

h1,
h2,
h3,
h4 { 
  font-family:  var(--fuente-secundaria);
  line-height: 1.5;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   }
h3 {
  font-size: 3.2rem;
  margin-block: 1.2rem;
}
h4 { font-size: 2.4rem; }

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
/** Utilidades */
.margin-b-2 {
  margin-block: 2rem;
}
.centrar-txt {
  text-align: center;
}
.fw-normal {
  font-weight: normal;
}
.fw-bold {
  font-weight: bold;
}

.flow-2 > *{
  margin-bottom: 2rem;
}
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.boton {
  display: inline-block;
  margin-block: 1rem;
  padding: 1rem 3rem;
  border: 0;

  color: var(--color-claro);
  font-family: var(--fuente-secundaria);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.mensaje {
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-claro);
}
.mensaje--error {
  background-color: #b90000;
}
.mensaje--correcto {
  background-color: green;
}
@media (max-width: 480px) {
  .boton {
    text-align: center;
    display: block;
  }
}
.boton--primario {
  background-color: var(--color-oscuro);
}
.boton--secundario {
  background-color: var(--color-primario);
}

/** ---- Header ----  */
.header {
  height: 50rem;

  color: var(--color-claro);
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
}
.nav__enlaces {
  display: flex;
  align-items: center;
  row-gap: 1rem;
  column-gap: 2rem;
}
@media (max-width: 768px) {
  .nav__enlaces {
    flex-direction: column;
  }
}
.header__texto {
  margin-top: 15rem;
}
@media (max-width: 768px) {
  .header__texto {
    margin-top: 8rem;
  }
}

/** ---- Blog ---- */
.contenido-principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
@media (max-width: 768px) {
  .contenido-principal {
    grid-template-columns: 1fr;
  }
}

.blog > h3 {
  margin-block: 1.2rem;
}
.entrada {
  margin-block: 1rem;
  border-bottom: 2px solid var(--color-neutral);
}
.entrada__titulo {
  margin-bottom: 1rem;
}

/** Sidebar */
.curso--widget,
.curso{
  border-bottom: 2px solid var(--color-neutral);
}
.curso__titulo {
  font-family: var(--fuente-secundaria);
}

/** ---- Footer ---- */
.footer {
  padding-block: 2rem;
  color: var(--color-claro);
  background-color: var(--color-oscuro);
}
.footer .contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  font-size: 2.4rem;
}
.footer__enlaces {
  display: flex;
  gap: 2rem;
}
.footer__enlace {
  font-size: 1.4rem;
}

/*? ---- Página nosotros ----  */

.nosotros__contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .nosotros__contenido {
    grid-template-columns: 1fr;
  }
}
.nosotros__titulo {
  margin-block: 3rem;
}
.nosotros__imagen {
  align-self: center;
}

/*? ---- Página cursos ---- */
.curso {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
@media (max-width: 768px) {
  .curso {
    grid-template-columns: 1fr;
  }
}

/*? ---- Página entrada ---- */
.entrada__imagen {
  max-width: 800px;
  width: 100%;
  display: block;
  margin: 1rem auto;
}

/*? ---- Contacto ---- */
.contacto__background {
  height: 40rem;
  background-image: url(../img/contacto.jpg);
  background-size: cover;
  background-position: center;
}
.contacto__formulario {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  width: 95%;
  margin: -5rem auto 0;
  padding: 2rem;

  background-color: var(--color-claro);
}
.campo {
  display: flex;
  gap: 2rem;
}
.campo__label {
  flex-basis: 9rem;
  text-align: right;
}
.campo__field {
  display: inline-block;
  flex-grow: 1;
  padding: .2rem 1rem;
  border:2px solid var(--color-neutral);
}
.campo__field--textarea {
  height: 20rem;
}
.campo__field--vacio {
  border: 2px solid red;
}
.campo__boton {
  margin-left: auto;
}